.create-edit-projects {
  .input-sm {
    height: 40px;
  }
}


.blur-invalid {
	border-color: red;
}

#embed {
	box-sizing: border-box;
	padding: 0 10px;
	position: relative;
	left: 5px;
}

iframe {
	width: 98%;
}

@media (max-width: 768px) {
	#embed {
		position: relative;
		left: 10px;
	}
	iframe {
		width: 97%;
	}
}

#pictures {
	margin-top: 10px;
}

.pictureDiv {
	display: inline-block;
	margin-right: 40px;
}