<div class="pageheader">
	<h2><i class="fa fa-edit"></i>Create or Edit Project <span>Create or edit a project here</span></h2>
</div>

<div class="contentpanel create-edit-projects">
  <form class="form-horizontal" name="createEditProjectForm" ng-submit="projectForm.$valid && submit()" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Project Informations</h4>
      </div>
      <div class="panel-body">

        <!-- PROJECT NAME -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Select Project </label>
          <div class="col-sm-6">
            <select name="" class="form-control input-sm">
              <option value="">New Project</option>
            </select>
          </div>
        </div>

        <!-- PROJECT NAME -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Project Name <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <input  type="text"
                    name="projectName"
                    class="form-control"
                    ng-model="project.name"
                    placeholder="Hiredot"
                    required
                    blur-validate>
            <label class="error ng-hide">
              Required.
            </label>
          </div>
        </div>

        <!-- LIVE URL -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Live URL</label>
          <div class="col-sm-6">
            <input  type="url"
                    name="liveURL"
                    class="form-control"
                    ng-model="project.liveURL"
                    placeholder="http://hire.fullstackacademy.com"
                    blur-validate>
            <label class="error ng-hide">
              Must be a valid URL.
            </label>
          </div>
        </div>

        <!-- GITHUB URL -->
        <div class="form-group">
          <label class="col-sm-3 control-label">GitHub URL <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <input  type="url"
                    name="githubURL"
                    class="form-control"
                    ng-model="project.githubURL"
                    placeholder="https://github.com/hiredot"
                    blur-validate>
            <label class="error ng-hide">
              Must be a valid URL to a github.com domain.
            </label>
          </div>
        </div>

        <!-- SHORT PITCH -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Short Pitch <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <input  type="text"
                    name="shortPitch"
                    class="form-control"
                    ng-model="project.shortPitch"
                    placeholder="Fullstack Academy resumebook for developers"
                    required
                    blur-validate>
            <label class="error ng-hide">
              Required.
            </label>
          </div>
        </div>

        <!-- TECH STACK TAGS -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Tech Stack Tags <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <textarea   class="form-control"
                        name="techStackTags"
                        ng-model="project.techStackTags"
                        required
                        blur-validate
                        placeholder="What libraries, stacks and framewords did you use to build this project? Comma separated values, e.g. 'Angular, Node, Express, MongoD'"></textarea>
            <label class="error ng-hide">
              Required; Must be comma separated values.
            </label>
          </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Description</label>
          <div class="col-sm-6">
            <textarea class="form-control"
                      name="description"
                      ng-model="project.description"
                      placeholder="More detailed description"
                      ng-minlength="25"
                      rows="5" blur-validate>
            </textarea>
            <label class="error ng-hide">
              Must be at least 25 characters long.
            </label>
          </div>
        </div>

        <!-- VIDEO URL -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Video URL</label>
          <div class="col-sm-6">
            <video-thingy></video-thingy>
            <input  type="url"
                    name="videoURL"
                    class="form-control"
                    ng-change="getEmbedURL()"
                    ng-model="project.videoURL"
                    placeholder="https://www.youtube.com/embed/ab3NscEJ80s"
                    blur-validate>
            <label class="error ng-hide">
              Must be a valid URL.
            </label>
          </div>
        </div>

        <!-- PROJECT PICTURE -->
        <div class="form-group">
          <label class="col-sm-3 control-label">Project Picture <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <button
              ng-click="initializeFilePicker();"
              class="btn btn-default"
              name="picture"
              ng-model="project.pictures"
              required
              >
              Upload Picture
            </button>
            <div id="pictures">
              <div class="pictureDiv" ng-repeat="picture in project.pictures">
                <img
                  id="picture-{{$index}}"
                  src="{{picture.url}}"
                  width="100"
                /><br />
                <button
                  class="btn btn-link"
                  ng-click='launchEditor(
                    "picture-" + $index,
                    picture.url
                  )'>
                  crop
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <button class="btn btn-primary"
                      type="submit"
                      ng-disabled="projectForm.$invalid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>