.blur-invalid {
	border-color: red;
}

#embed {
	box-sizing: border-box;
	padding: 0 10px;
	position: relative;
	left: 5px;
}

iframe {
	width: 98%;
}

@media (max-width: 768px) {
	#embed {
		position: relative;
		left: 10px;
	}
	iframe {
		width: 97%;
	}
}