.edit-profile {
  .ckbox.ckbox-default {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .panel-footer {
    padding-bottom: 0;
  }

  thead {
    .fa.fa-plus {
      padding-top: 0px;
    }
  }

  select {
    height: 40px;
    margin-top: 0;
  }

  .profile-picture {
    height: 200px;
    width: 200px;
    cursor: pointer;
  }

  .warning {
    color: #8a6d3b;
  }

  .submit {
    &:focus {
      background-color: #1CAF9A;
      border-color: #17a08c;
    }
  }
}