<div class="pageheader">
  <h2><i class="fa fa-edit"></i> Edit Profile <span>Edit your profile here</span></h2>
</div>

<div class="contentpanel edit-profile">
  <form class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Basic Informations</h4>
        <p>Provide correct informations to prospective employers</p>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., Hiredot Fullstackerson" ng-model="currentUser.name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Title</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., Fullstack Developer" ng-model="currentUser.title">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., fullstackerson@fullstack.com" ng-model="currentUser.email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Location:</label>
          <div class="col-sm-6">
            <input type="text" placeholder="e.g. New York, NY" class="form-control" ng-model="currentUser.location">
            <div class="ckbox ckbox-default">
              <input type="checkbox">
              <label for="checkboxDefault">Willing to relocate</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Linkedin Url</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., https://www.linkedin.com/in/hiredotfullstackerson" ng-model="currentUser.linkedinUrl">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Github Url</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., https://github.com/hiredotfullstackerson" ng-model="currentUser.githubUrl">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Facebook Url</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., https://www.facebook.com/hiredotfullstackerson" ng-model="currentUser.facebookUrl">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Twitter Url</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., https://twitter.com/hiredotfullstackerson" ng-model="currentUser.twitterUrl">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Summary</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="5" placeholder="e.g., I am an awesome fullstack developer graduated from Fullstack Academy" ng-model="currentUser.summary"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Skill tags</label>
          <div class="col-sm-6">
            <textarea id="autoResizeTA" class="form-control" rows="5" placeholder="e.g., MongoDB, ExpressJS, AngularJS, NodeJS" ng-model="currentUser.skills"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Work Experience:</label>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="Company Name" ng-model="companyName">
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Title" ng-model="title">
                    </td>
                    <td class="date">
                      <div class="row">
                        <div class="col-sm-6">
                          <select class="form-control input-sm" ng-model="selectedStartMonth" ng-options="month.name for month in months">
                            <option value="">-- start month --</option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <select class="form-control input-sm" ng-options="year for year in years" ng-model="selectedStartYear">
                            <option value="">-- start year --</option>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td class="date">
                      <div class="row">
                        <div class="col-sm-6">
                          <select class="form-control input-sm" ng-model="selectedEndMonth" ng-options="month.name for month in months">
                            <option value="">-- end month --</option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <select class="form-control input-sm" ng-options="year for year in years" ng-model="selectedEndYear">
                            <option value="">-- end year --</option>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <a href="javascript:void(0)" ng-click="addWorkExperience(companyName, title, startDate, endDate)"><i class="fa fa-plus"></i></a>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="workExperience in currentUser.workExperiences">
                    <td>{{workExperience.company.name}}</td>
                    <td>{{workExperience.title}}</td>
                    <td>{{workExperience.startDate | filterTime}} </td>
                    <td>{{workExperience.endDate | filterTime}}</td>
                    <td><a><i class="fa fa-trash-o"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Education:</label>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="College Name">
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Degree">
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Field of Study">
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Start Date">
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="End Date">
                    </td>
                    <td><a><i class="fa fa-plus"></i></a></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="education in currentUser.educations">
                    <td>{{education.schoolName}}</td>
                    <td>{{education.degree}}</td>
                    <td>{{education.fieldOfStudy}}</td>
                    <td>{{education.startDate | filterTime}} </td>
                    <td>{{education.endDate | filterTime}}</td>
                    <td><a><i class="fa fa-trash-o"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <button ng-click="updateProfile()" class="btn btn-primary">Update</button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </form>
</div>