<div class="pageheader">
  <h2><i class="fa fa-edit"></i> Edit Profile <span>Edit your profile here</span></h2>
</div>

<div class="contentpanel edit-profile">
  <form class="form-horizontal"
        name="editProfileForm"
        ng-submit="editProfileForm.name.$valid &&
                   editProfileForm.email.$valid && editProfile()" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Basic Informations</h4>
        <p>Provide correct informations to prospective employers</p>
      </div>
      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error': editProfileForm.name.$error.required, 'has-success': editProfileForm.name.$valid && editProfileForm.name.$dirty}">
          <label class="col-sm-3 control-label">Full Name <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., Hiredot Fullstackerson" ng-model="currentUser.name" name="name" required>
            <label class="error" ng-show="editProfileForm.name.$error.required">This field is required.</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Title</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., Fullstack Developer" ng-model="currentUser.title">
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': editProfileForm.email.$error.required, 'has-success': editProfileForm.email.$valid && editProfileForm.email.$dirty}">
          <label class="col-sm-3 control-label">Email <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <input type="email" class="form-control" placeholder="e.g., fullstackerson@fullstack.com" ng-model="currentUser.email" name="email" required>
            <label class="error" ng-show="editProfileForm.email.$error.required">This field is required.</label>
            <label class="warning" ng-show="editProfileForm.email.$invalid && !editProfileForm.email.$error.required">Doesn't look like the right email.</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Location:</label>

          <div class="col-sm-6">
            <input type="text" placeholder="e.g. New York, NY" class="form-control" ng-model="currentUser.location">
            <div class="checkbox default">
              <label><input type="checkbox" ng-model="currentUser.relocate">Willing to relocate</label>
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-warning': editProfileForm.linkedinUrl.$dirty && editProfileForm.linkedinUrl.$error.validator}">
          <label class="col-sm-3 control-label">Linkedin Url</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., https://www.linkedin.com/in/hiredotfullstackerson" ng-model="currentUser.linkedinUrl" name="linkedinUrl" ui-validate="'validateLinkedinUrl($value)'">
            <label class="warning" ng-show="editProfileForm.linkedinUrl.$dirty && editProfileForm.linkedinUrl.$error.validator">Doesn't look like the right Linkedin URL.</label>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-warning': editProfileForm.githubUrl.$dirty && editProfileForm.githubUrl.$error.validator}">
          <label class="col-sm-3 control-label">Github Url</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., https://github.com/hiredotfullstackerson" ng-model="currentUser.githubUrl" name="githubUrl" ui-validate="'validateGithubUrl($value)'">
            <label class="warning" ng-show="editProfileForm.githubUrl.$dirty && editProfileForm.githubUrl.$error.validator">Doesn't look like the right Github URL.</label>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-warning': editProfileForm.facebookUrl.$dirty && editProfileForm.facebookUrl.$error.validator}">
          <label class="col-sm-3 control-label">Facebook Url</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., https://www.facebook.com/hiredotfullstackerson" ng-model="currentUser.facebookUrl" name="facebookUrl" ui-validate="'validateFacebookUrl($value)'">
            <label class="warning" ng-show="editProfileForm.facebookUrl.$dirty && editProfileForm.facebookUrl.$error.validator">Doesn't look like the right Facebook URL.</label>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-warning': editProfileForm.twitterUrl.$dirty && editProfileForm.twitterUrl.$error.validator}">
          <label class="col-sm-3 control-label">Twitter Url</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="e.g., https://twitter.com/hiredotfullstackerson" ng-model="currentUser.twitterUrl" name="twitterUrl" ui-validate="'validateTwitterUrl($value)'">
            <label class="warning" ng-show="editProfileForm.twitterUrl.$dirty && editProfileForm.twitterUrl.$error.validator">Doesn't look like the right Twitter URL.</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Summary</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="5" placeholder="e.g., I am an awesome fullstack developer graduated from Fullstack Academy" ng-model="currentUser.summary"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Skill tags</label>
          <div class="col-sm-6">
            <textarea id="autoResizeTA" class="form-control" rows="5" placeholder="e.g., MongoDB, ExpressJS, AngularJS, NodeJS" ng-model="currentUser.skills"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Profile Picture</label>
          <div class="col-sm-6">
            <img src="{{currentUser.profilePicture.crops._200x200 || currentUser.linkedin.pictureUrl}}" alt="Profile Picture" edit-profile-file-upload current-user="currentUser" picture-type="standard" file-type="image" class="profile-picture">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Funny Profile Picture</label>
          <div class="col-sm-6">
            <img src="{{currentUser.funnyProfilePicture.crops._200x200 || 'assets/images/user.jpg'}}" alt="Funny Profile Picture" edit-profile-file-upload current-user="currentUser" picture-type="funny" file-type="image" class="profile-picture">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Resume</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Your resume URL here" ng-model="currentUser.resumeUrl" edit-profile-file-upload current-user="currentUser" file-type="resume">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Work Experience:</label>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="Company Name" ng-model="companyName">
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Title" ng-model="title">
                    </td>
                    <td>
                      <select class="form-control input-sm" ng-model="workStartDate.month" ng-options="month.name for month in months">
                        <option value="">-- start month --</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control input-sm" ng-options="year for year in years" ng-model="workStartDate.year">
                        <option value="">-- start year --</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control input-sm" ng-model="workEndDate.month" ng-options="month.name for month in months">
                        <option value="">-- end month --</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control input-sm" ng-options="year for year in years" ng-model="workEndDate.year">
                        <option value="">-- end year --</option>
                      </select>
                    </td>
                    <td>
                      <a href="javascript:void(0)" ng-click="addWorkExperience(companyName, title, workStartDate, workEndDate)"><i class="fa fa-plus"></i></a>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="workExperience in currentUser.workExperiences">
                    <td>{{workExperience.company.name}}</td>
                    <td>{{workExperience.title}}</td>
                    <td colspan="2" class="text-center">{{workExperience.startDate | filterTime}} </td>
                    <td colspan="2" class="text-center">{{workExperience.endDate | filterTime}}</td>
                    <td><a href="javascript:void(0)" ng-click="removeWorkExperience($index)"><i class="fa fa-trash-o"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Education:</label>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="College Name" ng-model="schoolName">
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Degree" ng-model="degree">
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Field of Study" ng-model="fieldOfStudy">
                    </td>
                    <td>
                      <select class="form-control input-sm" ng-model="educationStartDate.month" ng-options="month.name for month in months">
                        <option value="">-- start month --</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control input-sm" ng-options="year for year in years" ng-model="educationStartDate.year">
                        <option value="">-- start year --</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control input-sm" ng-model="educationEndDate.month" ng-options="month.name for month in months">
                        <option value="">-- end month --</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control input-sm" ng-options="year for year in years" ng-model="educationEndDate.year">
                        <option value="">-- end year --</option>
                      </select>
                    </td>
                    <td><a href="javascript:void(0)" ng-click="addEducation(schoolName, degree, fieldOfStudy, educationStartDate, educationEndDate)"><i class="fa fa-plus"></i></a></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="education in currentUser.educations">
                    <td>{{education.schoolName}}</td>
                    <td>{{education.degree}}</td>
                    <td>{{education.fieldOfStudy}}</td>
                    <td colspan="2" class="text-center">{{education.startDate | filterTime}} </td>
                    <td colspan="2" class="text-center">{{education.endDate | filterTime}}</td>
                    <td><a href="javascript:void(0)" ng-click="removeEducation($index)"><i class="fa fa-trash-o"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <input type="submit" value="Update Profile" class="btn btn-success submit">
            <span ng-if="updateSuccess" class="alert alert-success">Updated!</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>