<div class="pageheader">
      <h2><i class="fa fa-edit"></i> Edit your profile <span>Tell us about yourself...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">My portfolio</a></li>
          <li><a href="general-forms.html">My profile</a></li>
          <li class="active">Edit my profile</li>
        </ol>
      </div>
    </div>

<div class="col-md-12">
</div>
    <div class="contentpanel">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">My Profile</h4>
          <p>Fill out the following forms to display your information to prospective employers and other developers at Fullstack </p>
        </div>
        <div class="panel-body panel-body-nopadding">
          
          <form class="form-horizontal form-bordered">
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Name:</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Full Name" class="form-control" />
              </div>
            </div>
            
           
            <div class="form-group">
              <label class="col-sm-3 control-label">Email:</label>
              <div class="col-sm-6">
                <input type="text" placeholder="example@gmail.com" class="form-control">
                <span class="help-block">Enter your email address above. Your email should be formatted as example@fullstackacademy.com</span>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Location:</label>
              <div class="col-sm-6">
                <input type="text" placeholder="e.g. New York, NY" class="form-control">
           <div class="checkbox block"><label><input type="checkbox"> Willing to Relocate</label></div>
            </div>
            </div>
        
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Headline:</label>
              <div class="col-sm-7">
                <input name="tags" id="tags" class="form-control" placeholder="e.g. Software Developer, Professional Juggler, etc." />
              </div>
            </div>
            
              <div class="form-group">
              <label class="col-sm-3 control-label">Intro Video URL:</label>
              <div class="col-sm-7">
                <input name="tags" id="tags" class="form-control" placeholder="Use the embed src: e.g.://www.youtube-nocookie.com/embed/oHg5SJYRHA0?rel=0" />
              </div>
            </div>

              <div class="form-group">
              <label class="col-sm-3 control-label">Project Video URL:</label>
              <div class="col-sm-7">
                <input name="tags" id="tags" class="form-control" placeholder="Use the embed src: e.g.://www.youtube-nocookie.com/embed/oHg5SJYRHA0?rel=0" />
              </div>
            </div>

              <div class="form-group">
              <label class="col-sm-3 control-label">Future Video URL:</label>
              <div class="col-sm-7">
                <input name="tags" id="tags" class="form-control" placeholder="Use the embed src: e.g.://www.youtube-nocookie.com/embed/oHg5SJYRHA0?rel=0" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Twitter URL:</label>
              <div class="col-sm-7">
                <input name="tags" id="tags" class="form-control" placeholder="e.g. http://www.twitter.com/FullstackAcademy" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Github URL:</label>
              <div class="col-sm-7">
                <input name="tags" id="tags" class="form-control" placeholder="e.g. http://www.github.com/FullstackAcademy" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Summary:</label>
              <div class="col-sm-7">
                <textarea class="form-control" rows="5"></textarea>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Skill tags:</label>
              <div class="col-sm-7">
                <textarea id="autoResizeTA" class="form-control" rows="5"></textarea>
              </div>
            </div>
           <div class="form-group">
              <label class="col-sm-3 control-label">Resume Upload:</label>
              <div class="col-sm-7">
            <form action="files" class="dropzone">
            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
            </form>
            </div>
            </div>
          </form>
          
        </div><!-- panel-body -->
        
        <div class="panel-footer">
          <button class="btn btn-primary">Submit</button>&nbsp;
          <button class="btn btn-default">Cancel</button>
      </div><!-- panel-footer -->
        
      </div><!-- panel -->
     <div class="panel panel-default" novalidate="">

        <div class="panel-heading">
          <h1 class="panel-title" id="work-experience">WORK EXPERIENCE</h1>
          <p>List work experience that would be applicable to your future development career.</p>
        </div>

        <div class="panel-heading">
          <div class="table-responsive">
            <table class="table mb30">
              <tbody>
                <tr>
                  <td><input type="text" class="form-control" placeholder="Company Name"></td>
                  <td><input type="text" class="form-control" placeholder="Title"></td>
                  <td><input type="text" class="form-control" placeholder="Start Date"></td>
                  <td><input type="text" class="form-control"  placeholder="End Date"></td>

                  <td><a href="" ng-click="addWork()" class=""><i class="fa fa-plus" style="margin-top: 12px"></i></a></td>
                </tr>
                
              </tbody>
            </table>
          </div>
          </div>
          <div class="panel-footer">
          <button class="btn btn-primary">Submit</button>&nbsp;
          <button class="btn btn-default">Cancel</button>
      </div>
        
    </div>

    <div class="panel panel-default" novalidate="">

        <div class="panel-heading">
          <h1 class="panel-title" id="work-experience">EDUCATION</h1>
        </div>

        <div class="panel-heading">
          <div class="table-responsive">
            <table class="table mb30">
              <tbody>
                <tr>
                  <td><input type="text" class="form-control" placeholder="College Name"></td>
                  <td><input type="text" class="form-control" placeholder="Degree"></td>
                  <td><input type="text" class="form-control" placeholder="Major"></td>
                  <td><input type="text" class="form-control"  placeholder="Graduation Date"></td>

                  <td><a href="" ng-click="addSchool()" class=""><i class="fa fa-plus" style="margin-top: 12px"></i></a></td>
                </tr>
                
              </tbody>
            </table>
          </div>
          </div>
          <div class="panel-footer">

          <button class="btn btn-primary">Submit</button>&nbsp;
          <button class="btn btn-default">Cancel</button>
  
      </div>
        
    </div>
    </div>