<div class="headerbar" ng-controller="HeaderCtrl">
  <a class="menutoggle" href="javascript:void(0)" ng-click="toggleLeftPanel()"><i class="fa fa-bars"></i></a>
  <div class="header-right">
    <ul class="headermenu">
      <!-- <li>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle tp-icon">
            <i class="fa fa-users"></i>
            <span class="badge">2</span>
          </button>
        </div>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle tp-icon">
            <i class="fa fa-suitcase"></i>
            <span class="badge">2</span>
          </button>
        </div>
      </li> -->
      <li ng-show="isLoggedIn()">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle">
            <img ng-src="{{getCurrentUser().profilePicture.crops._200x200 || getCurrentUser().linkedin.pictureUrl}}" alt="{{getCurrentUser().name}}">
            {{getCurrentUser().name}}
          </button>
        </div>
      </li>
      <li ng-show="isLoggedIn()">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle tp-icon" ng-click="logout()">
            <i class="glyphicon glyphicon-log-out"></i>
            <span>Logout</span>
          </button>
        </div>
      </li>
      <li ng-hide="isLoggedIn()">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle tp-icon" ng-click="loginOauth('linkedin')">
            <i class="fa fa-linkedin-square"></i>
            <span>Login</span>
          </button>
        </div>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle tp-icon" ng-click="toggleRightPanel()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
