#profile-about {
  ul {
    padding-left: 0px;
    li {
      background: #1CAF9A;
      margin-bottom: 2px;
      border-radius: 2px;
    }
  }
}

.profile-work-education {
  ul {
    padding-left: 15px;
  }
}

#profile-project {
  .projects {
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
    .img-responsive {
      display: block;
    }
    .title {
      font-weight: bold;
      font-size: 20px;
    }
    .subtitle {
      font-weight: bold;
    }
    .list-inline {
      padding-left: 5px;
      li {
        background: #1CAF9A;
        margin-bottom: 2px;
        border-radius: 2px;
      }
    }
  }
}