<div>
  <h5 class="sidebartitle">Search Users</h5>
  <div class="form-group">
    <input type="text" placeholder="Search developer name" class="form-control" ng-model="userName" typeahead="user.name for user in usersTypeahead | filter:$viewValue | limitTo: 5" ng-change="searchUsers(userName, '')"></input>
  </div>
  <h5 class="sidebartitle">Filter Users</h5>
  <div class="form-group">
    <select class="form-control input-sm" ng-model="roles" ng-options="roles.roleName for roles in rolesFilter" ng-change="sortUsers(selectedOrderBy, roles.roleType, hiredOrLooking, selectedCohort)" ng-init="roles = rolesFilter[0];"></select>
  </div>
  <div class="form-group">
    <select class="form-control input-sm" ng-model="hiredOrLooking" ng-options="hiredOrLooking.status for hiredOrLooking in hiredOrLookingFilter" ng-change="sortUsers(selectedOrderBy, roles.roleType, hiredOrLooking, selectedCohort)" ng-init="hiredOrLooking = hiredOrLookingFilter[0];"></select>
  </div>
  <div class="form-group">
    <select class="form-control input-sm" ng-model="selectedCohort" ng-options="cohort.name for cohort in cohortsTypeahead" ng-change="sortUsers(selectedOrderBy, roles.roleType, hiredOrLooking, selectedCohort)" ng-init="selectedCohort = cohortsTypeahead[0];"></select>
  </div>
  <h5 class="sidebartitle">Sort Users</h5>
  <div class="form-group">
    <select class="form-control input-sm" ng-model="selectedOrderBy" ng-options="orderByOption.orderBy for orderByOption in orderByOptions" ng-change="sortUsers(selectedOrderBy, roles.roleType, hiredOrLooking, selectedCohort)" ng-init="selectedOrderBy = orderByOptions[0]; sortUsers(selectedOrderBy, 'developer', hiredOrLooking, selectedCohort)">
    </select>
  </div>
</div>