.infosummary {
  .datainfo {
    p.text-left {
      line-height: 1.3em;
      span {
        color: #8F939E;
      }
      a {
        font-size: 13px;
      }
    }

    .social-media {
      span {
        font-size: 30px;
      }
    }
  }
}