.developer-card-projects {
  .project-title {
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .thmb {
    min-height: 170px;
    max-height: 170px;

    .thmb-prev .img-responsive {
      max-height: 112px;
    }
  }
}