

.video_aspect_ratio{
	position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 67%;
}

.video_aspect_ratio .project_video{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

#project_pitch{
	font-style : italic;
	margin-top : 30px;
	text-align: justify;
}
#project_information{
	font-style : italic;
	margin-top : 30px;
	text-align: justify;
}
#project_title{
	padding-bottom: 30px;
}
#team_title{
	padding-left: 12px;
}
#team_information{
	padding-top: 50px;
}
#left_container{
	padding-right: 50px;
	padding-left: 50px;
}

#right_container{
	background-color: white;
}
.individual_profile{
	padding-bottom: 40px;
}
.individual_name{
	font-style: italic;
}