<div class="pageheader">
    <h2><i class="fa fa-picture-o"></i> {{projectData.name}} <span>View {{projectData.name}}'s details here</span></h2>
</div>

<div class="contentpanel">
  <div class="row project-view">
    <div class="col-sm-8">
<!--       <div class="video_aspect_ratio">
        <iframe ng-src="{{project.videoEmbedUrl}}" on-iframe-load frameborder="0"allowfullscreen></iframe>
        <object class="project_video"></object>
      </div> -->
      <div class="row">
        <img src="assets/images/project.jpg" class="col-sm-6" alt="">
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="profile-name">{{projectData.name}}</h2>
      <p class="mb30">{{projectData.pitch}}</p>
      <h3 class="subtitle">Description</h3>
      <p class="mb30">{{projectData.description}}</p>
      <h5 class="subtitle">Technologies</h5>
      <p class="mb30">{{projectData.techTags}}</p>
      <h5 class="subtitle">Links</h5>
      <h3 class="links mb30" ng-if="projectData.hasUrl('github') || projectData.hasUrl('url')">
        <a href="{{projectData.githubUrl}}" target="_blank" title="{{projectData.name}}'s Github" ng-if="projectData.hasUrl('github')"><span class="fa fa-github-square"></span></a>
        <a href="{{projectData.url}}" target="_blank" title="{{projectData.name}'s Live URL" ng-if="projectData.hasUrl('url')"><span class="fa fa-binoculars"></span></a>
      </h3>
      <h3 class="subtitle">Developers</h3>
      <div class="activity-list">
        <div class="media act-media" ng-repeat="member in projectData.team">
          <a class="pull-left" href="/view/{{member.developer._id}}/developer_page">
            <img class="media-object" ng-src="{{member.developer.profilePicture.crops._200x200 || member.developer.linkedin.pictureUrl}}" alt="">
          </a>
          <div class="media-body act-media-body">
            <h4><strong><a href="/view/{{member.developer._id}}/developer_page" title="Go to {{member.developer.name}}'s Profile">{{member.developer.name}}</a></strong></h4>
            <p><small class="text-muted">Role:</small> {{member.role}}</p>
            <h4>
              <a href="mailto:{{member.developer.email}}" target="_blank" title="{{member.developer.name}}'s email" ng-if="developerHasUrl('email', member.developer)"><span class="fa fa-envelope"></span></a>
              <a href="{{member.developer.linkedinUrl}}" target="_blank" title="{{member.developer.name}}'s Linkedin" ng-if="developerHasUrl('linkedin', member.developer)"><span class="fa fa-linkedin-square"></span></a>
              <a href="{{member.developer.githubUrl}}" target="_blank" title="{{member.developer.name}}'s Github" ng-if="developerHasUrl('github', member.developer)"><span class="fa fa-github-square"></span></a>
              <a href="{{member.developer.facebookUrl}}" target="_blank" title="{{member.developer.name}}'s Facebook" ng-if="developerHasUrl('facebook', member.developer)"><span class="fa fa-facebook-square"></span></a>
              <a href="{{member.developer.twitterUrl}}" target="_blank" title="{{member.developer.name}}'s Twitter" ng-if="developerHasUrl('twitter', member.developer)"><span class="fa fa-twitter-square"></span></a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



