<div class="pageheader">
    <h2><i class="fa fa-home"></i> {{projectData.name}} <span>last updated: &nbsp{{projectData.lastUpdated.substring(0,10)}}</span></h2>

    <div class="breadcrumb-wrapper">
      <span class="label">You are here:</span>
      <ol class="breadcrumb">
        <li class="active">This project</li>
        <li><a href="index.html">All projects</a></li>
      </ol>
    </div>
</div>

<!-- the view of a project page. Consists of two colunms: left container is about the project
and right container about the project team -->

<div id='project_container' class='col-md-12'>
		<div id='left_container' class='col-md-8'>
			<!-- project media block include: the project video, project images and project information in three tabs. example video url "http://www.youtube.com/embed/FKQS7oswN5I"  -->
					<tabset justified='true'>
						<tab heading = 'Images'>
							<carousel interval="5000">
					      <slide ng-repeat="image in projectData.images" active="slide.active">
					        <img ng-src="{{image.original}}" style="margin:auto; max-height: 750px";>
					        <div class="carousel-caption">
					        </div>
					      </slide>
					    </carousel>
					  </tab>
					<!-- currently only have a place holder video. will refactor to show either video or images -->
						<tab heading ='Video'>
							<div class ='video_aspect_ratio'>
									<object class = 'project_video' data={{projectData.videoUrl}} frameborder="0">  </object>
							</div>
						</tab>
						<!-- set up slide show for multiple images -->
						<tab heading = 'Information'>
						  <div>
									<h3>Description</h3>
									<p ng-hide=hasPitch()> In one sentence: &nbsp{{projectData.pitch}} </p>
									<p>	 {{projectData.description}} </p>
							</div>
					  	<div>
									<h3>Technology</h3>
									<p ng-hide=hasGitHub()>
										<a href={{projectData.githubUrl}}> GitHub: {{projectData.githubUrl}} </a>
									</p>
									<p ng-hide=hasUrl()>
										<a href={{projectData.url}}> Link: {{projectData.url}}</a>
									</p>
									<p ng-hide=hasStack()>
										Stack: {{projectData.techTags}}
									</p>
							</div>
					  </tab>
					</tabset>
		</div>

		<!--  project team column  -->
		<div id='right_container' class='col-md-4'>
			<div ng-repeat ='member in projectData.team'>
					  <developer-card-profile developer-data='member.userId'> </developer-card-profile>
			</div>
		</div>
</div>

