<div class="row">
  <div class="col-sm-3">
    <img ng-src="{{developerData.profilePicture.original}}" class="thumbnail img-responsive" alt="{{developerData.name}}"></img>
    <div class="mb30"></div>
    <h5 class="subtitle">About</h5>
    <p class="mb30">{{developerData.summary}}</p>
    <h5 class="subtitle">Connect</h5>
    <ul class="profile-social-list">
      <li><i class="fa fa-envelope"> <a href=""></a></i></li>
      <li><i class="fa fa-linkedin"> <a href=""></a></i></li>
      <li><i class="fa fa-github"> <a href=""></a></i></li>
      <li><i class="fa fa-facebook"> <a href=""></a></i></li>
      <li><i class="fa fa-twitter"> <a href=""></a></i></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="profile-header">
      <h2 class="profile-name">{{developerData.name}}</h2>
      <div class="profile-location"><i class="fa fa-map-marker"></i> {{developerData.location}}</div>
      <div class="profile-position"><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>
      <div class="mb20"></div>
      <button class="btn btn-success mr5"><i class="fa fa-star"></i> Follow</button>
      <button class="btn btn-white"><i class="fa fa-envelope-o"></i> Message</button>
    </div>
    <ul class="nav nav-tabs nav-justified nav-profile">
      <li class="active"><a href="#"><strong>Projects</strong></a></li>
      <li class="active"><a href="#"><strong>Work Experiences</strong></a></li>
      <li class="active"><a href="#"><strong>Educations</strong></a></li>
    </ul>
    <div class="tab-content">

    </div>

  </div>
</div>
{{developerData}}