<div ng-controller="NavigationCtrl" id="navigation">
  <h5 class="sidebartitle">Navigation</h5>
  <div ng-switch on="collapseLeftPanel">

    <div ng-switch-when="false" id="collapse-left-panel-false"> <!-- open -->
      <ul class="nav nav-pills nav-stacked nav-bracket">
        <!-- repeat over [ Browse, Favorites, My Portfolio, Admin Page ] -->
        <li
          ng-repeat="item in menu"
          ng-if="item.show()"
          class="nav-parent"
          ng-class="{
            'active': isActive(item.link),
            'nav-active': item.showSubMenu,
            'nav-hover': item.hover
          }"
          ng-mouseenter="item.hover = true"
          ng-mouseleave="item.hover = false">
          <a
            href="javascript:void(0)"
            ng-click="showSub(item)">
              <i ng-class="item.logo"></i>
              <span>{{item.title}}</span>
          </a>
          <!-- sub menu -->
          <ul ng-if="item.showSubMenu" class="children" style="display: block;">
            <li ng-repeat="subItem in item.subMenu" ng-if="subItem.show()">
              <a href="{{subItem.link}}"><i class="fa fa-caret-right"></i> {{subItem.title}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div ng-switch-when="true">
      <ul class="nav nav-pills nav-stacked nav-bracket"> <!-- closed -->
        <!-- repeat over [ Browse, Favorites, My Portfolio, Admin Page ] -->
        <li
          ng-repeat="item in menu"
          ng-if="item.show()"
          class="nav-parent"
          ng-class="{
            'active': isActive(item.link),
            'nav-active': item.showSubMenu,
            'nav-hover': item.hover
          }"
          ng-mouseenter="item.hover = true"
          ng-mouseleave="item.hover = false">
          <a href="javascript:void(0)">
            <i ng-class="item.logo"></i> <span>{{item.title}}</span>
          </a>
          <!-- sub menu -->
          <ul ng-if="item.hover" class="children" style="display: block;">
            <li ng-repeat="subItem in item.subMenu" ng-if="subItem.show()">
              <a href="{{subItem.link}}"><i class="fa fa-caret-right"></i> {{subItem.title}}</a>
            </li>
          </ul>
        </li>
      </ul> <!-- ng-repeat over [ Browse, Favorites, My Portfolio, Admin Page ] -->
    </div> <!-- ng-switch-when closed -->

  </div> <!-- ng-switch on="collapseLeftPanel" -->
</div> <!-- ng-controller -->