<div>
  <h5 class="sidebartitle">Search Projects</h5>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search project name" ng-model="projectName" typeahead="project.name for project in projectsTypeahead | filter:$viewValue | limitTo: 5" ng-change="searchProjects(projectName)">
  </div>
  <h5 class="sidebartitle">Sort Projects</h5>
  <div class="form-group">
    <select class="form-control input-sm" ng-model="selectedOrderBy" ng-options="orderByOption.orderBy for orderByOption in orderByOptions" ng-change="onSortByChange(selectedOrderBy)"
    ng-init="selectedOrderBy = orderByOptions[0]; sortProjects(selectedOrderBy)">
    </select>
  </div>
</div>

